.Head-instructor{
    display: flex;

}
.instructor{
    width: 50%;
    margin: 20px;
   
    text-align: left;
}
.instructor img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
}
.bio{
    width: 50%;
    margin: 30px;
    padding: 30px 20px;
}
.bio h2{
    padding: 20px 0px;
}
.co-instructor{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.co-instructor div img{
border-radius: 8px;
}